
.home{
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    padding: 1rem;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
}

footer a{
    display: inline;
    color: inherit;
    text-decoration: underline;
}
