nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.nav-item{
    background-color: rgb(0, 0, 48);
    flex: 0 0 100%;
    height: 8rem;
    border-radius: 0.5rem;
    position: relative;
}

.nav-item a{
    color: #fff;
    padding: 1rem;
    z-index: 2;
    font-size: 1.25rem;
}

.nav-item{
    background-color: linear-gradient(to right, #000000dd, #00000088);
    animation: move-bg-image 20s linear infinite forwards;
    animation-play-state: paused;
}

.nav-item:nth-child(1){
    background-image: linear-gradient(to right, #000000dd, #00000088), url("../assets/countries-flags.png");
    background-size: 150%;
}

.nav-item:nth-child(3){
    background-image: linear-gradient(to right, #000000dd, #00000088), url("../assets/political-white-transparent-thin-world-map.png");
    background-size: 90%;
}

.nav-item:hover{
    animation-play-state: running;
}

@keyframes move-bg-image {
    0%{
        background-position: 10% 10%;
    }
    20%{
        background-position: 20% 60%;
    }
    40%{
        background-position: 40% 80%;
    }
    60%{
        background-position: 80% 60%;
    }
    80%{
        background-position: 50% 20%;
    }
    to{
        background-position: 10% 10%;
    }
}