.quiz-card{
    width: clamp(400px, 80vw, 700px);
    height: 50vh;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    border-radius: 0.5rem;
}

.quiz-card.correct{
    border: 1px solid #01e296;
}
.quiz-card.false{
    border: 1px solid #ee4211;
}


.flag-img{
    width: 80%;
    height: 60%;
}

.solution{
    margin: 2rem 0;
    font-size: 1.5rem;
}

.quiz-form{
    width: clamp(400px, 80vw, 700px);
    margin: 1rem auto;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "input input"
    "skip check";
    gap: 0.5rem;
}

.quiz-form input{
    grid-area: input;
    margin: 0;
}

.skip-btn{
    grid-area: skip;
}

.check-btn{
    grid-area: check;
}

.quiz-form button{
    padding: 1rem;
    cursor: pointer;
}