/* stuff that multiple pages components share */

.back-home{
    margin: 0.5rem auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: darkblue;
}

.back-home a{
    display: flex;
    justify-content: center;
    align-items: center;
} 


input{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #333;
}