.table-wrapper{
    margin: 1rem auto;
    max-width: 800px;
}

.table-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


table{
    padding: 0.5rem;
    border-collapse: collapse;
}

thead{
    position: sticky;
    top: 0;
}

th{
    background-color: #aaa;
    text-align: left;
}

tr{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr  2fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    /* text-align: center; */
    border: 1px solid #333;
}

tr:nth-child(2n){
    background-color: #ddd;
}

th, td{   
    padding: 0.75rem;
}
.td-image{
    width: 3rem;
    height: 1.5rem;
}

.back-to-top{
    margin: 2rem auto;
    width: fit-content;
    border-radius: 0.25rem;
    border: none;
    display: block;
    background-color: darkblue;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
}
